{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	        <meta name="created" content="{% now "jS M Y h:i" %}" />
	        <meta name="description" content="{% block description %}{% endblock %}" />
	        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
	        <meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1{% endblock %}" />
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    
            <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
            
            <title>{% block title %}Casir messenger &mdash; {% block page_title %}{% endblock page_title %}{% endblock title %}</title>
            
			 <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
			    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
			    <!--[if lt IE 9]>
			      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		    <![endif]-->
        {% endblock head %}

        {% block mainstyles %}
        	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        	<link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
        	<link href="{% static 'css/common.css' %}" rel="stylesheet">
        {% endblock mainstyles %}
        
        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}
        
        {% block extrahead %}{% endblock %}
        
        {% block cdn_scripts %}
            <!-- jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        	<script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% endblock %}

        {# Local scripts #}
        {% block scripts %}
        {% endblock %}
        
        {# Additional JS scripts #}
        {% block extrascripts %}{% endblock %}
    </head>
    
    <body id="{% block body_id %}{% endblock body_id %}" class="{% block body_class %}{% endblock body_class %}">
        <div id="wrap">
            {% block header %}
	            <nav class="navbar navbar-default">
			      <div class="container-fluid">
			        <div class="navbar-header">
			          <a class="navbar-brand" href="#">CASIR Messenger</a>
			        </div>
                    {% if user.is_authenticated %}
                        <div class="collapse navbar-collapse pull-right">
                              <ul class="nav navbar-nav">
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Connecté en tant que {{ user.username }} <span class="caret"></span></a>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="{%  url "members:logout" %}">Se déconnecter</a></li>
                                  </ul>
                                </li>
                              </ul>
                        </div><!-- /.navbar-collapse -->
                    {%  endif %}
			      </div>
			    </nav>
        	{% endblock header %}
        	
        	{% block content %}
        	{% endblock content %}
            
        </div>
        <div class="footer">
            {% block footer %}
            {% endblock footer %}
        </div>
    </body>
</html>