/*------------------------------------------------------------------
[Master Stylesheet]

Project     : Aether
Version     : 1.0
Last change : 2015/03/27
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. General Structure
2. Anchor Link
3. Text Outside the Box
4. Main Form
5. Login Button
6. Form Invalid
7. Form - Main Message
8. Custom Checkbox & Radio
9. Misc
-------------------------------------------------------------------*/

/*=== 3. Text Outside the Box ===*/
.etc-form {
	padding: 10px 20px;
}
.etc-form p {
	margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.form-1 {
	width: 300px;
	display: block;
	background-color: rgba(0,0,0,.9);
	padding: 5px;
}
.form-1 p {
	font-size: 15px;
}
.main-form {
	position: relative;
}
.form-1 .form-control {
	border: 0;
	box-shadow: 0 0 0;
	border: 0;
	background: transparent;
	color: #aaa;
	padding: 7px 0;
	font-weight: bold;
	height:auto;
}
.form-1 .form-control::-webkit-input-placeholder {
	color: #999999;
}
.form-1 .form-control:-moz-placeholder,
.form-1 .form-control::-moz-placeholder,
.form-1 .form-control:-ms-input-placeholder {
	color: #999999;
}
.form-1 .form-group {
	margin-bottom: 0;
	border-bottom: 2px solid rgba(0,0,0,.2);
	padding-right: 20px;
	position: relative;
}
.form-1 .form-group:last-child {
	border-bottom: 0;
}
.login-group {
	background: rgba(255,255,255,.2);
	color: #999999;
	padding: 10px 20px;
}
.login-group-checkbox {
	padding: 5px 0;
}
/*=== 5. Login Button ===*/
.form-1 .login-button {
	position: absolute;
	right: -25px;
	top: 50%;
	background: #555;
	color: #999999;
	padding: 11px 0;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	border: 5px solid #222;
	transition: all ease-in-out 100ms;
}
.form-1 .login-button:hover {
	color: #aaa;
}
.form-1 .login-button.clicked {
	color: #555555;
}
.form-1 .login-button.clicked:hover {
	transform: none;
}
.form-1 .login-button.clicked.success {
	color: #2ecc71;
}
.form-1 .login-button.clicked.error {
	color: #e74c3c;
}
/*=== 6. Form Invalid ===*/
label.form-invalid {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	display: block;
	margin-top: -25px;
	padding: 7px 9px;
	background: #777777;
	color: #ffffff;
	font-weight: bold;
	font-size: 11px;
}
label.form-invalid:after {
	top: 100%;
	right: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #777777;
	border-width: 6px;
}
/*=== 7. Form - Main Message ===*/
.form-main-message {
	background: #ffffff;
	color: #999999;
	border-left: 3px solid transparent;
	margin-bottom: 8px;
	font-weight: bold;
	height: 0;
	padding: 0 20px 0 17px;
	opacity: 0;
	transition: all ease-in-out 200ms;
}
.form-main-message.show {
	height: auto;
	opacity: 1;
	padding: 10px 20px 10px 17px;
}
.form-main-message.success {
	border-left-color: #2ecc71;
}
.form-main-message.error {
	border-left-color: #e74c3c;
}
/*=== 8. Custom Checkbox & Radio ===*/
/* Base for label styling */
.login-group-checkbox [type="checkbox"]:not(:checked),
.login-group-checkbox [type="checkbox"]:checked,
.login-group-checkbox [type="radio"]:not(:checked),
.login-group-checkbox [type="radio"]:checked {
	position: absolute;
	left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
	position: relative;
	padding-left: 25px;
	padding-top: 1px;
	cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 2px;
	width: 17px;
	height: 17px;
	border: 0px solid #aaa;
	background-color: rgba(255,255,255,.1);
	border-radius: 3px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
	position: absolute;
	color: #ddd;
	transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before,
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #8c8c8c;
	background-color: #878787;
}
[type="checkbox"]:disabled:checked + label:after,
[type="radio"]:disabled:checked + label:after {
	color: #555555;
}
[type="checkbox"]:disabled + label,
[type="radio"]:disabled + label {
	color: #8c8c8c;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before,
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
	border: 1px dotted #f6f6f6;
}
/* hover style just for information */
label:hover:before {
	border: 1px solid #f6f6f6 !important;
}
/*=== Customization ===*/
/* radio aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
}
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
}
/* selected mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: '✔';
	top: 0;
	left: 2px;
	font-size: 14px;
}
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
	content: '\2022';
	top: 0;
	left: 3px;
	font-size: 30px;
	line-height: 25px;
}

.form-add {
	background-color: rgba(255,255,255,.1);
	padding: 1px 15px;
	margin-bottom: 10px;
}

.form-add .form-control {
	background-color: rgba(255,255,255,.1);
	border: 0;
	color: #ddd;
	box-shadow: none;
}

.form-add .form-control:hover,
.form-add .form-control:active {
	background-color: rgba(255,255,255,.2);
}

.button-add {
	width: 100%;
	background-color: rgba(0,255,0,.4);
	border: 0;
	color: #fff;
	padding: 10px;
}

.button-add:hover,
.button-add:active {
	background-color: rgba(0,255,0,.5);
}

.button-delete {
	display: block;
	width: 300px;
	margin: auto;
	background-color: rgba(255,0,0,.4);
	border: 0;
	color: #fff;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

textarea {
	resize: vertical;
}

figure img {
	width: 100%;
}

.form-add table {
	color: #aaa;
}