html {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
	font-family: Relaway, Arial, sans-serif;
}

body {
	width: 100%;
	margin: 0px;
	overflow-x: hidden;
	background-color: #000;

	font-size: 20px;
}

h1 {
	font-size: 60px;
	margin: 5px;
}

h1, h2, h3 {
	color: #ddd;
}

a {
	color: #ddd;
	text-decoration: none;
}

a:hover {
	color: #eee;
	text-decoration: none;
}

hr {
	display: block;
	border: none;
	border-bottom: 3px solid rgba(255,255,255,.2);
}

p {
	color: #888;
}

.page {
	z-index: 2;
	width: 100%;
	color: #aaa;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 0px 0px 50px rgba(0, 0, 0, .85);
	min-height: calc(100vh);
}

.filter {
	z-index: -1;
	position: fixed;
	top: 0;
	height: calc(100% - 25px);
	width: 100%;
	border-radius:  0 0 10px 10px;
	background: linear-gradient(to bottom, rgba(255,255,255,.4) 0%, rgba(255,255,255,.8) 100%);
}

.parallax {
	z-index: -2;
	position: fixed;
	padding-top: 60px;
	height: calc(100% - 25px);
	border-radius:  0 0 10px 10px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius:  0 0 10px 10px;
}

footer {
	position: fixed;
	width: 100%;
	height: 25px;
	bottom: 0;
	padding-top: 5px;
	color: #BBB;
	background-color: #000;
	text-align: center;
	font-size: 11px;
}

.center {
	text-align: center;
}

.error {
	margin: 10px 0;
	width: auto;
	padding: 5px;
	color: #fff;
	background-color: rgba(255,0,0,.5);
	font-size: 15px;
}

.content {
	padding: 100px 0;
}

article,
.model,
.button,
.download-button,
.login-button,
.form-1,
.login-group,
.error,
.form-add,
.form-control,
.button-add,
.button-delete,
figure img {
	border-radius: 2px;
}

.model figure,
.model figure img {
	border-radius: 2px 0 0 2px;
}

article {
	padding: 10px;
	background-color: rgba(0,0,0,.9);
	margin-bottom: 10px;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

h1 span {
	font-size: 20px;
	color: #fff;
}

.model {
	width: calc(100% - 20px);
	margin: 10px;
	height: 200px;
	background-color: rgba(255,255,255,.1);
	float: left;
	position: relative;
}

.model figure {
	float: left;
	margin-right: 20px;
	overflow: hidden;
	height: 100%;
}

.model aside {
	padding: 10px;
}

.model .tags {
	z-index: -2;	
	display: block;
}

.tags a {
	text-decoration: none;
	color: #aaa;
	font-size: 17px;
}

.model-see .tags a:hover,
.tags a:hover {
	color: #ddd;
}

.model-see .tags a {
	text-decoration: none;
	color: #aaa;
}

.tags .count {
	color: #eee;
	font-size: 12px;
}

.model .button {
	z-index: 4;
	background-color:  rgba(255,255,255,.1);
	padding: 5px 10px;
	position: absolute;
	display: block;
	text-decoration: none;
	bottom: 10px;
	right: 10px;
	font-size: 20px;
	color: #aaa;
}

.model .button:hover {
	background-color: rgba(255,255,255,.2);
}

ul.model-list a {
	color: #ddd;
}

.title {
	font-weight: bold;
	color: #aaa
}

.download-button {
	display: block;
	float: left;
	background-color: rgba(255,255,255,.1);
	padding: 10px;
	margin: 10px 0;
	font-size: 17px;
	text-decoration: none;
	width: 100%;
}

.download-button:hover {
	background-color: rgba(255,255,255,.2);
}

.download-button span {
	display: block;
	font-size: 10px;
	width: 100%;
	text-align: right;
}

.download-button span.software {
	display: block;
	font-size: 20px;
	width: 100%;
	text-align: left;
}

.download-button span.software span {
	text-align: left;
	color: #888;
}

.details {
	color: #888;
}

.model h2 {
	position: relative;
}

.model h2 span {
	font-size: 10px;
	position: absolute;
	bottom: 0px;
	color: #999;
}

.author {
	position: absolute;
	bottom: 0;
	color: #222;
	font-weight: bold;
	font-size: 11px !important;
}
