nav#menu {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	font-size: 17px;
}

nav a {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	color: #AAA;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	vertical-align: middle;
	transition: all .2s;
}

nav a:hover {
	background-color: rgba(0,0,0,.2);
	color: #FFF;
}

nav .count {
	z-index: 0;
	position: absolute;
	display: inline-block;
	top: 20px;
	right: 5px;
	height: 20px;
	width: 20px;
	background-color: #AAA;
	color: #FFF;
	font-size: 15px;
	line-height: 20px;
	border: 1px solid #555;
	border-radius: 50%;
}

nav i.fa {
	font-size: 30px;
	line-height: 50px;
	vertical-align: middle;
}

nav#menu ul {
	height: 50px;
	padding: 0 20px 0 20px;
	background-color: rgba(0,0,0,.9);
	list-style: none;
}

nav li.left {
	float: left;
}

nav#menu li.right {
	float: right;
	margin-right: 0px;
}

nav#menu ul li {
	z-index: 20;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	border-right: 1px solid #555;
	transition: all .3s;
}

nav#menu ul li a {
	min-width: 150px;
}

nav#menu ul li:first-child {
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}

nav#menu ul li:last-child {
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}

nav#menu ul li ul {
	position: absolute;
	display: none;
	left: -20px;
	width: 10px;
	height: 0px;
	visibility: hidden;
	opacity: 0;
	-webkit-transiton: opacity 0.2s;
	transition: opacity 0.2s;
}

nav#menu ul li ul li a {
	min-width: 150px;
	padding: 10px 0 10px 0;
}

nav#menu ul li:hover ul {
	z-index: 10;
	display: block;
	visibility: visible;
	opacity: 1;
	-webkit-transiton: opacity 0.2s;
	transition: opacity 0.2s;
}

nav#menu ul li ul li {
	z-index: 5;
	background: rgba(0,0,0,.7);
	border: 1px solid rgba(85,85,85,.1);
}

nav#menu ul li ul li:first-child {
	border: 1px solid rgba(85,85,85,.1);
}

nav#menu ul li ul li:last-child {
	z-index: 3;
	border: 1px solid rgba(85,85,85,.1);
	border-radius: 0 0 5px 5px;
}

nav#menu ul li ul li:last-child a {
	border-radius: 0 0 5px 5px;
}

nav#menu ul li ul li:last-child a:hover {
	border-radius: 0 0 3px 3px;
}

nav.settings ul {
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	list-style: none;

	border-radius: 5px 5px 0 0;

	transition: all 1s;
}

nav.settings ul li {
	overflow: hidden;
	width: 90px;
	height: 65px;
	transition: all .2s;

}

nav.settings a span {
	display: none;
}

nav.settings ul li:hover,
nav.settings ul li.active {
	width: 200px;
	transition: all .2s;
	background-color: rgba(0,0,0,.3);
}

nav.settings ul li:hover a,
nav.settings ul li.active a {
	width: 200px;
	transition: all .2s;
	color: #DDD;
}

nav.settings ul li:hover a span,
nav.settings ul li.active a span {
	display: inline-block;
}

nav#menu ul li.search {
	border-left: 0;
}

.searchBar {
	width: 150px;
	height: 50px;
	left: calc(50% - 75px);
	padding: 5px 5px 0 0;
}

.searchBar input {
	background-color: rgba(0,0,0,0);
	border: 1px solid #555;
	height: 40px;
	width: 100%;
	line-height: 30px;
	padding: 0 10px;
	color: #AAA;
}

.searchBar input:hover,
.searchBar input:focus {
	background-color: rgba(255,255,255,.1);
}
